form > a {
  margin-left: auto;
}

form .side-by-side-input {
  display: flex;
  gap: 16px;
}

form .side-by-side-input > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .side-by-side-input input {
  width: 100%;
}
